<app-new-channel (saved)="onCreate($event)"></app-new-channel>
<section class="chat" *ngIf="isLoggedIn else unavailable">
    <stream-channel-list></stream-channel-list>
    <stream-channel>
        <stream-channel-header class="background" (click)="showUsers()">
        </stream-channel-header>
        <stream-notification-list></stream-notification-list>
        <div *ngIf="show;else elseBlock">
            <app-channel-members></app-channel-members>
        </div>
        <ng-template #elseBlock>
            <div  style="padding: 8px; background: #249ed6"   *ngFor=" let message of channelService.activeChannelPinnedMessages$ | async" (click)="jumpToMessage(message)">
                {{ message.text }}
                <button style="border:1px solid black; border-radius:1px;background-color: gray; padding: 0; margin: 0" (click)="$event.stopPropagation(); unpinMessage(message)">
                    Unpin
                 </button>
            </div>
            <stream-message-list></stream-message-list>
            <stream-message-input>
                <ng-template #emojiPickerTemplate let-emojiInput$="emojiInput$">
                    <app-emoji-picker [emojiInput$]="emojiInput$"></app-emoji-picker>
                  </ng-template>
            </stream-message-input>
            <!--<button (click)="update()">update</button>-->
        </ng-template>
    </stream-channel>
</section>

<ng-template #unavailable>
    <div class="chat-notification">Chat is not available...</div>
</ng-template>

<!-- <ng-template #channelPreview let-channel="channel">
    <section (click)="activateChannel(channel)">
        <h1>{{channel.data?.name}}</h1>
        <div>{{channel?.state?.messages.at(-1)?.text}}</div>
    </section>
</ng-template>-->

<ng-template #channelActionsTemplate let-channel="channel">
    <app-invite-button [channel]="channel"></app-invite-button>
</ng-template> 
